<h1>Friends List Goes Here</h1>

<% friends.forEach(function(friend){ %>
    <li><%= friend %></li>
<% }) %>

<form action = "/addFriend" method="POST">
    <input name="newFriend" type="text" placeholder="name" >
    <button>New Friend</button>
</form>